In [6]:
import csv
import pprint
from jobspy import scrape_jobs
import pandas as pd

In [5]:
a = scrape_jobs(
      # site_name=["indeed", "linkedin", "glassdoor"],
      site_name=["indeed"],
      search_term="Accountant",
      location="Tanjung Malim",
      results_wanted=100,
      hours_old=72,  # (only Linkedin/Indeed is hour specific, others round up to days old)
      country_indeed="Malaysia",  # only needed for indeed / glassdoor
      # linkedin_fetch_description=True # get full description , direct job url , company industry and job level (seniority level) for linkedin (slower)
      # proxies=["208.195.175.46:65095", "208.195.175.45:65095", "localhost"],
  )

2024-08-10 14:43:38,655 - JobSpy - INFO - Indeed search page: 1
2024-08-10 14:43:38,658 - JobSpy - INFO - LinkedIn search page: 1
2024-08-10 14:43:39,290 - JobSpy - INFO - Glassdoor search page: 1
2024-08-10 14:43:39,331 - JobSpy - INFO - Indeed search page: 2
2024-08-10 14:43:39,814 - JobSpy - INFO - Glassdoor finished scraping
2024-08-10 14:43:39,831 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 14:43:39,831 - JobSpy - INFO - Indeed finished scraping
2024-08-10 14:43:44,280 - JobSpy - INFO - LinkedIn search page: 2
2024-08-10 14:43:48,428 - JobSpy - INFO - LinkedIn search page: 3
2024-08-10 14:43:55,614 - JobSpy - INFO - LinkedIn search page: 4
2024-08-10 14:44:01,331 - JobSpy - INFO - LinkedIn search page: 5
2024-08-10 14:44:01,933 - JobSpy - INFO - Linkedin finished scraping

,id,site,job_url,job_url_direct,title,company,location,job_type,date_posted,salary_source,...,company_url,company_url_direct,company_addresses,company_num_employees,company_revenue,company_description,logo_photo_url,banner_photo_url,ceo_name,ceo_photo_url
0,73a7d203a1ba4b4b,indeed,https://malaysia.indeed.com/viewjob?jk=73a7d20...,http://malaysia.indeed.com/job/junior-accounta...,Junior Accountant - Chinese Speaking,Reach International Consuting LTD,"Kuala Lumpur, M14, MY",fulltime,2024-08-10,direct_data,...,https://malaysia.indeed.com/cmp/Reach-Internat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cca1193ac59d4277,indeed,https://malaysia.indeed.com/viewjob?jk=cca1193...,https://jobs.smartrecruiters.com/MUFGInvestorS...,Fund Accountant/Senior Fund Accountant - Real ...,MUFG,"Kuala Lumpur, M14, MY",fulltime,2024-08-09,NaN,...,https://malaysia.indeed.com/cmp/Mufg,https://careers.mufgamericas.com/,Tokyo,"10,000+",more than $10B (USD),MUFG (Mitsubishi UFJ Financial Group) is the s...,https://d2q79iu7y748jz.cloudfront.net/s/_squar...,https://d2q79iu7y748jz.cloudfront.net/s/_heade...,Kevin Cronin,https://d2q79iu7y748jz.cloudfront.net/s/_ceoph...
3,cfd67fe58e226bf7,indeed,https://malaysia.indeed.com/viewjob?jk=cfd67fe...,http://malaysia.indeed.com/job/accountant-cfd6...,Accountant,Safeguards Corporation,"Kuala Lumpur, M14, MY",fulltime,2024-08-09,direct_data,...,https://malaysia.indeed.com/cmp/Safeguards-Cor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3b2c58b2fb2d8efd,indeed,https://malaysia.indeed.com/viewjob?jk=3b2c58b...,http://malaysia.indeed.com/job/account-assista...,Account Assistant / Executive,Vee Loo Guna & Associates,"Kuala Lumpur, M14, MY",fulltime,2024-08-09,direct_data,...,https://malaysia.indeed.com/cmp/Vee-Loo-Guna-&...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0251cfafff560d65,indeed,https://malaysia.indeed.com/viewjob?jk=0251cfa...,http://malaysia.indeed.com/job/accounts-execut...,Accounts Executive (6 months contract),Agensi Perkejaan Hunters Search,"Shah Alam, M10, MY",fulltime,2024-08-09,direct_data,...,https://malaysia.indeed.com/cmp/Agensi-Perkeja...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6393a8c36fc3aa74,indeed,https://malaysia.indeed.com/viewjob?jk=6393a8c...,http://malaysia.indeed.com/job/financial-contr...,Financial Controller,People Pathfinders Sdn Bhd,"Subang Jaya, M10, MY",fulltime,2024-08-09,NaN,...,https://malaysia.indeed.com/cmp/People-Pathfin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,57188f5f7461bf74,indeed,https://malaysia.indeed.com/viewjob?jk=57188f5...,http://malaysia.indeed.com/job/account-executi...,Account Executive,FMC Greenland Sdn Bhd,"Puchong, M10, MY",fulltime,2024-08-09,direct_data,...,https://malaysia.indeed.com/cmp/Fmc-Greenland-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,fbee69a3d577c3f0,indeed,https://malaysia.indeed.com/viewjob?jk=fbee69a...,http://malaysia.indeed.com/job/accountant-fbee...,ACCOUNTANT,JoeL Wong Corporate Services,"Petaling Jaya, M10, MY","fulltime, contract",2024-08-09,NaN,...,https://malaysia.indeed.com/cmp/Joel-Wong-Corp...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b5d8aa9cf3ca6db7,indeed,https://malaysia.indeed.com/viewjob?jk=b5d8aa9...,https://jobs.citi.com/job/-/-/287/68501971424,MYS CTSM KL - Fund Accounting Analyst 2 - C10 ...,Citi,"Kuala Lumpur, M14, MY",fulltime,2024-08-08,NaN,...,https://malaysia.indeed.com/cmp/Citi,http://www.citigroup.com,"New York, NY","10,000+",more than $10B (USD),Citi is more than a global financial services ...,https://d2q79iu7y748jz.cloudfront.net/s/_squar...,https://d2q79iu7y748jz.cloudfront.net/s/_heade...,Jane Fraser,https://d2q79iu7y748jz.cloudfront.net/s/_ceoph...
5,0c7df58454df4433,indeed,https://malaysia.indeed.com/viewjob?jk=0c7df58...,https://careers.honeywell.com/us/en/job/HONEUS...,Senior Finance Analyst,Honeywell,"Kuala Lumpur, M14, MY",NaN,2024-08-08,NaN,...,https://malaysia.indeed.com/cmp/Honeywell,https://www.honeywell.com,"Charlotte, NC","10,000+",more than $10B (USD),Be a #futureshaper and help change the way the...,https://d2q79iu7y748jz.cloudfront.net/s/_squar...,https://d2q79iu7y748jz.cloudfront.net/s/_heade...,Vimal Kapur,https://d2q79iu7y748jz.cloudfront.net/s/_ceoph...
10,fb36e660242e139c,indeed,https://malaysia.indeed.com/viewjob?jk=fb36e66...,http://malaysia.indeed.com/job/accountant-inte...,ACCOUNTANT INTERN,GYOMIN SDN BHD,"Kuala Lumpur, M14, MY","fulltime, internship",2024-08-08,NaN,...,https://malaysia.indeed.com/cmp/Gyomin-Sdn-Bhd-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,897079448533689b,indeed,https://malaysia.indeed.com/viewjob?jk=8970794...,https://careers.lilly.com/us/en/job/LILLUSR692...,Analyst - Finance,Eli Lilly,"Petaling Jaya, M10, MY",fulltime,2024-08-08,NaN,...,https://malaysia.indeed.com/cmp/Eli-Lilly,http://www.lilly.com,"Indianapolis Indiana, United States","10,000+",$1B to $5B (USD),"At Lilly, we unite caring with discovery to ma...",https://d2q79iu7y748jz.cloudfront.net/s/_squar...,https://d2q79iu7y748jz.cloudfront.net/s/_heade...,David A. Ricks,https://d2q79iu7y748jz.cloudfront.net/s/_ceoph...
15,6b9e6c20158ecc81,indeed,https://malaysia.indeed.com/viewjob?jk=6b9e6c2...,http://malaysia.indeed.com/job/accounting-spec...,Accounting Specialist| Immediate Intake| Shah ...,Glob Pro BrainHunters Sdn Bhd,"Shah Alam, M10, MY",fulltime,2024-08-08,direct_data,...,https://malaysia.indeed.com/cmp/Glob-Pro-Brain...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,d9af7b08123918e4,indeed,https://malaysia.indeed.com/viewjob?jk=d9af7b0...,http://malaysia.indeed.com/job/head-finance-ch...,Head of Finance (Chartered Accountant),WEE HUAT MARKETING SDN BHD,"Klang, M10, MY",fulltime,2024-08-08,NaN,...,https://malaysia.indeed.com/cmp/Wee-Huat-Marke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3d93998f7a437100,indeed,https://malaysia.indeed.com/viewjob?jk=3d93998...,http://malaysia.indeed.com/job/accountant-buki...,"Accountant | Bukit Jalil, KL | Up to RM8000",Agensi Pekerjaan Sunrise Recruit Sdn Bhd,"Bukit Jalil, M14, MY",fulltime,2024-08-08,direct_data,...,https://malaysia.indeed.com/cmp/Agensi-Pekerja...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,d5e98dcad5e56220,indeed,https://malaysia.indeed.com/viewjob?jk=d5e98dc...,http://malaysia.indeed.com/job/audit-cum-tax-a...,Audit cum Tax Assistant/Executive,YH Goh & Co,"Kuala Lumpur, M14, MY","fulltime, internship",2024-08-07,NaN,...,https://malaysia.indeed.com/cmp/Yh-Goh-&-Co-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2cc7629ad9b2fcf3,indeed,https://malaysia.indeed.com/viewjob?jk=2cc7629...,https://careers.loreal.com/en_US/jobs/JobDetai...,[BEST] Accounting Manager,L'Oréal,"Petaling Jaya, M10, MY",fulltime,2024-08-06,NaN,...,https://malaysia.indeed.com/cmp/L'or%C3%A9al-1,https://www.loreal.com,Clichy,"10,000+",$1B to $5B (USD),,https://d2q79iu7y748jz.cloudfront.net/s/_squar...,https://d2q79iu7y748jz.cloudfront.net/s/_heade...,Nicolas Hieronimus,https://d2q79iu7y748jz.cloudfront.net/s/_ceoph...
14,a8c0660be1d12c08,indeed,https://malaysia.indeed.com/viewjob?jk=a8c0660...,https://careers.loreal.com/en_US/jobs/JobDetai...,[BEST] Accountant - Contract,L'Oréal,"Petaling Jaya, M10, MY",fulltime,2024-08-06,NaN,...,https://malaysia.indeed.com/cmp/L'or%C3%A9al-1,https://www.loreal.com,Clichy,"10,000+",$1B to $5B (USD),,https://d2q79iu7y748jz.cloudfront.net/s/_squar...,https://d2q79iu7y748jz.cloudfront.net/s/_heade...,Nicolas Hieronimus,https://d2q79iu7y748jz.cloudfront.net/s/_ceoph...
20,3994812163,linkedin,https://www.linkedin.com/jobs/view/3994812163,NaN,Accountant,Art & Bonding,"WP. Kuala Lumpur, Federal Territory of Kuala L...",NaN,2024-08-09,NaN,...,https://my.linkedin.com/company/art-bonding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,3994869789,linkedin,https://www.linkedin.com/jobs/view/3994869789,NaN,Assistant Accounting Manager,TechnoDex Berhad,"Federal Territory of Kuala Lumpur, Malaysia",NaN,2024-08-09,NaN,...,https://my.linkedin.com/company/technodex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,3988673705,linkedin,https://www.linkedin.com/jobs/view/3988673705,NaN,Graduate Accountant (Fresh Graduates),Affintive (AU & MY),"Petaling Jaya, Selangor, Malaysia",NaN,2024-08-09,NaN,...,https://my.linkedin.com/company/affintive-sdn-bhd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,3995931508,linkedin,https://www.linkedin.com/jobs/view/3995931508,NaN,Accountant,Robert Walters,"Petaling Jaya, Selangor, Malaysia",NaN,2024-08-09,NaN,...,https://uk.linkedin.com/company/robert-walters,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,3996603207,linkedin,https://www.linkedin.com/jobs/view/3996603207,NaN,Fund Accountant / 基金會計師,BBS Trust Int'l Limited,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,2024-08-09,NaN,...,https://my.linkedin.com/company/bbstrust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,3995933194,linkedin,https://www.linkedin.com/jobs/view/3995933194,NaN,AR Manager,Robert Walters,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,2024-08-09,NaN,...,https://uk.linkedin.com/company/robert-walters,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,3997074012,linkedin,https://www.linkedin.com/jobs/view/3997074012,NaN,Senior GL Accountant,JAC Recruitment,"Selangor, Malaysia",NaN,2024-08-09,NaN,...,https://jp.linkedin.com/company/jacrecruitment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,3997270842,linkedin,https://www.linkedin.com/jobs/view/3997270842,NaN,Financial Control Intern,TMF Group,"WP. Kuala Lumpur, Federal Territory of Kuala L...",NaN,2024-08-09,NaN,...,https://nl.linkedin.com/company/tmf-group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,3994860008,linkedin,https://www.linkedin.com/jobs/view/3994860008,NaN,Tax Manager,Mason & Co,"Petaling Jaya, Selangor, Malaysia",NaN,2024-08-09,NaN,...,https://sg.linkedin.com/company/mason-and-co,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,3964486435,linkedin,https://www.linkedin.com/jobs/view/3964486435,NaN,Investment Manager,Gobi Partners,"WP. Kuala Lumpur, Federal Territory of Kuala L...",NaN,2024-08-09,NaN,...,https://my.linkedin.com/company/gobipartners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,3995611808,linkedin,https://www.linkedin.com/jobs/view/3995611808,NaN,Finance Manager,Bell Ward Malaysia,"Selangor, Malaysia",NaN,2024-08-09,NaN,...,https://my.linkedin.com/company/bell-ward,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,3993265501,linkedin,https://www.linkedin.com/jobs/view/3993265501,NaN,Accounting Specialist,Bell Ward Malaysia,"Shah Alam, Selangor, Malaysia",NaN,2024-08-09,NaN,...,https://my.linkedin.com/company/bell-ward,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,3959414516,linkedin,https://www.linkedin.com/jobs/view/3959414516,NaN,Accountant,Siemens Energy,"Petaling Jaya, Selangor, Malaysia",NaN,2024-08-08,NaN,...,https://www.linkedin.com/company/siemens-energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3978472303,linkedin,https://www.linkedin.com/jobs/view/3978472303,NaN,Assistant Accountant,AS White Global,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,2024-08-08,NaN,...,https://au.linkedin.com/company/as-white-global,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3935199245,linkedin,https://www.linkedin.com/jobs/view/3935199245,NaN,Accounts Payable Junior Accountant,Givaudan,"Petaling Jaya, Selangor, Malaysia",NaN,2024-08-08,NaN,...,https://ch.linkedin.com/company/givaudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,3994279501,linkedin,https://www.linkedin.com/jobs/view/3994279501,NaN,Accountant,Green Pot Tea Malaysia Sdn Bhd,"Shah Alam, Selangor, Malaysia",NaN,2024-08-08,NaN,...,https://www.linkedin.com/company/green-pot-tea...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,3914250626,linkedin,https://www.linkedin.com/jobs/view/3914250626,NaN,Senior Accountant,Axalta,"Shah Alam, Selangor, Malaysia",NaN,2024-08-08,NaN,...,https://www.linkedin.com/company/axalta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,3961362793,linkedin,https://www.linkedin.com/jobs/view/3961362793,NaN,"Accountant, Revenue Analyst - Kuala Lumpur",e2open,"Federal Territory of Kuala Lumpur, Malaysia",NaN,2024-08-08,NaN,...,https://www.linkedin.com/company/e2open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,3995612943,linkedin,https://www.linkedin.com/jobs/view/3995612943,NaN,Accounting Operations Manager,Philips,"Petaling Jaya, Selangor, Malaysia",NaN,2024-08-08,NaN,...,https://nl.linkedin.com/company/philips,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,3974757555,linkedin,https://www.linkedin.com/jobs/view/3974757555,NaN,"Key Accountant, Cost Accounting",Evonik,"Petaling Jaya, Selangor, Malaysia",NaN,2024-08-08,NaN,...,https://de.linkedin.com/company/evonik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,3848702678,linkedin,https://www.linkedin.com/jobs/view/3848702678,NaN,"Director, Client Operations, Fund Administrati...",MUFG Investor Services,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,2024-08-08,NaN,...,https://www.linkedin.com/company/mufg-investor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,3993678781,linkedin,https://www.linkedin.com/jobs/view/3993678781,NaN,Senior Finance Manager,Oil and Gas Job Search Ltd,"Bandar Sri Permaisuri, Federal Territory of Ku...",NaN,2024-08-08,NaN,...,https://uk.linkedin.com/company/oilandgasjobse...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,3995625339,linkedin,https://www.linkedin.com/jobs/view/3995625339,NaN,Cash Management Product Manager,Robert Walters,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,2024-08-08,NaN,...,https://uk.linkedin.com/company/robert-walters,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3988435277,linkedin,https://www.linkedin.com/jobs/view/3988435277,NaN,Staff Accountant I,Marsh McLennan,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,2024-08-07,NaN,...,https://www.linkedin.com/company/marshmclennan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,3965901519,linkedin,https://www.linkedin.com/jobs/view/3965901519,NaN,Staff Accountant II,Marsh McLennan,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,2024-08-07,NaN,...,https://www.linkedin.com/company/marshmclennan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,3995274999,linkedin,https://www.linkedin.com/jobs/view/3995274999,NaN,[MY] Accountant (Accounts Payable),Doctor Anywhere,"Petaling Jaya, Selangor, Malaysia",NaN,2024-08-07,NaN,...,https://sg.linkedin.com/company/doctoranywhere,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,3978413589,linkedin,https://www.linkedin.com/jobs/view/3978413589,NaN,国際税務、会計監査、移転価格、クロスボーダーM&A業務など（フルリモート勤務相談可、日本語ス...,JAC Recruitment,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,2024-08-07,NaN,...,https://jp.linkedin.com/company/jacrecruitment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,3993642230,linkedin,https://www.linkedin.com/jobs/view/3993642230,NaN,Finance Manager,Gamma Interactive Inc,,NaN,2024-08-07,NaN,...,https://ph.linkedin.com/company/gamma-interact...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,3995415942,linkedin,https://www.linkedin.com/jobs/view/3995415942,NaN,"Salary up to Rm3,000 Junior Accountant in Engi...",Agensi Pekerjaan JEV Management Sdn. Bhd.,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,NaN,NaN,...,https://my.linkedin.com/company/jev-management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3995401645,linkedin,https://www.linkedin.com/jobs/view/3995401645,NaN,"Salary up to Rm3,000 Junior Accountant in Engi...",GLOBAL OUTSOURCING GROUP,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,NaN,NaN,...,https://www.linkedin.com/company/global-outsou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,3995835292,linkedin,https://www.linkedin.com/jobs/view/3995835292,NaN,Assistant Accounting Manager (Luxury Goods),HR2O Asia,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,NaN,NaN,...,https://my.linkedin.com/company/hr2o-asia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,3995401104,linkedin,https://www.linkedin.com/jobs/view/3995401104,NaN,"Assistant Manager / Manager, Payroll",OSK Group,"Federal Territory of Kuala Lumpur, Malaysia",NaN,NaN,NaN,...,https://my.linkedin.com/company/osk-group,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,3997341068,linkedin,https://www.linkedin.com/jobs/view/3997341068,NaN,Accountant (Hybrid) (Professional Services) (MNC),Randstad Malaysia,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,NaN,NaN,...,https://my.linkedin.com/company/randstad-malay...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,3980556405,linkedin,https://www.linkedin.com/jobs/view/3980556405,NaN,"Global Cash Accountant,",Baxter International Inc.,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,NaN,NaN,...,https://www.linkedin.com/company/baxter-health...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,3995410019,linkedin,https://www.linkedin.com/jobs/view/3995410019,NaN,Associate Manager - Tax,Colgate-Palmolive,"Petaling Jaya, Selangor, Malaysia",NaN,NaN,NaN,...,https://www.linkedin.com/company/colgate-palmo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,3997337571,linkedin,https://www.linkedin.com/jobs/view/3997337571,NaN,Senior Accountant (Hybrid) (Professional Servi...,Randstad Malaysia,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",NaN,NaN,NaN,...,https://my.linkedin.com/company/randstad-malay...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,3962113831,linkedin,https://www.linkedin.com/jobs/view/3962113831,NaN,FRA Technical Accounting & Special Projects APMA,Novartis,"Selangor, Malaysia",NaN,NaN,NaN,...,https://ch.linkedin.com/company/novartis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
len(a)

55

In [30]:
#define search terms and locations
#search_terms = ["Accountant", "Engineer", "Software Developer", "Designer", "Guard", "Analyst", "Consultant", "Technician", "Nurse", "Gardener"]
#locations = ["Tanjung Malim", "Kuala Lumpur", "Penang", "Johor Bahru", "Ipoh", "Kota Kinabalu", "Shah Alam", "Malacca", "Alor Setar", "Kuantan"]

search_terms = ["Accountant", "Guard", "Teacher", "software developer", "Carer", "temporary"]
locations = ["Kuala Lumpur", "Pahang", "Ipoh"]

In [31]:

# Initialize an empty DataFrame
results_df = pd.DataFrame()

# Loop over each search term and location
for search_term in search_terms:
    for location in locations:
        try:
            a = scrape_jobs(
                # site_name=xxx,
                site_name=["indeed"],  
                search_term=search_term,
                location=location,
                results_wanted=100,
                hours_old=168,  
                country_indeed="Malaysia",
            )
            #print(f"Search Term: {search_term}, Location: {location}")
            print (f"Search Term:{search_term}, Location:{location}, Result Number:{len(a)}")
            #print(len(a))  # Adjust this based on how you want to handle/display the results
            a['input_search_term'] = search_term
            a['input_location'] = location
            results_df = pd.concat([results_df, a], ignore_index=True)
        except Exception as e:
            print(f"Error Details: {str(e)}")
            continue


results_df.to_csv('scrapertest2_1008.csv')

2024-08-10 20:59:20,707 - JobSpy - INFO - Indeed search page: 1
2024-08-10 20:59:21,220 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:22,062 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:22,063 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:22,116 - JobSpy - INFO - Indeed search page: 1

Search Term:Accountant, Location:Kuala Lumpur, Result Number:28

2024-08-10 20:59:23,200 - JobSpy - INFO - Indeed found no jobs on page: 1
2024-08-10 20:59:23,201 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:23,211 - JobSpy - INFO - Indeed search page: 1

Search Term:Accountant, Location:Pahang, Result Number:0

2024-08-10 20:59:23,611 - JobSpy - INFO - Indeed found no jobs on page: 1
2024-08-10 20:59:23,612 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:23,622 - JobSpy - INFO - Indeed search page: 1

Search Term:Accountant, Location:Ipoh, Result Number:0

2024-08-10 20:59:24,247 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:24,599 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:24,600 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:24,628 - JobSpy - INFO - Indeed search page: 1

Search Term:Guard, Location:Kuala Lumpur, Result Number:10

2024-08-10 20:59:24,930 - JobSpy - INFO - Indeed found no jobs on page: 1
2024-08-10 20:59:24,932 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:24,942 - JobSpy - INFO - Indeed search page: 1

Search Term:Guard, Location:Pahang, Result Number:0

2024-08-10 20:59:25,459 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:25,708 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:25,708 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:25,729 - JobSpy - INFO - Indeed search page: 1

Search Term:Guard, Location:Ipoh, Result Number:1

2024-08-10 20:59:26,339 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:26,886 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:26,887 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:26,958 - JobSpy - INFO - Indeed search page: 1

Search Term:Teacher, Location:Kuala Lumpur, Result Number:52

2024-08-10 20:59:27,237 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:27,976 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:27,977 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:27,986 - JobSpy - INFO - Indeed search page: 1

Search Term:Teacher, Location:Pahang, Result Number:1

2024-08-10 20:59:28,428 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:28,720 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:28,721 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:28,743 - JobSpy - INFO - Indeed search page: 1

Search Term:Teacher, Location:Ipoh, Result Number:2

2024-08-10 20:59:29,445 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:29,939 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:29,939 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:30,020 - JobSpy - INFO - Indeed search page: 1

Search Term:software developer, Location:Kuala Lumpur, Result Number:89

2024-08-10 20:59:30,470 - JobSpy - INFO - Indeed found no jobs on page: 1
2024-08-10 20:59:30,471 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:30,480 - JobSpy - INFO - Indeed search page: 1

Search Term:software developer, Location:Pahang, Result Number:0

2024-08-10 20:59:31,400 - JobSpy - INFO - Indeed found no jobs on page: 1
2024-08-10 20:59:31,401 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:31,412 - JobSpy - INFO - Indeed search page: 1

Search Term:software developer, Location:Ipoh, Result Number:0

2024-08-10 20:59:31,800 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:32,060 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:32,061 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:32,072 - JobSpy - INFO - Indeed search page: 1

Search Term:Carer, Location:Kuala Lumpur, Result Number:4

2024-08-10 20:59:32,390 - JobSpy - INFO - Indeed found no jobs on page: 1
2024-08-10 20:59:32,391 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:32,398 - JobSpy - INFO - Indeed search page: 1

Search Term:Carer, Location:Pahang, Result Number:0

2024-08-10 20:59:32,834 - JobSpy - INFO - Indeed found no jobs on page: 1
2024-08-10 20:59:32,835 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:32,845 - JobSpy - INFO - Indeed search page: 1

Search Term:Carer, Location:Ipoh, Result Number:0

2024-08-10 20:59:33,588 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:34,067 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:34,068 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:34,124 - JobSpy - INFO - Indeed search page: 1

Search Term:temporary, Location:Kuala Lumpur, Result Number:27

2024-08-10 20:59:34,673 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:34,971 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:34,972 - JobSpy - INFO - Indeed finished scraping
2024-08-10 20:59:34,990 - JobSpy - INFO - Indeed search page: 1

Search Term:temporary, Location:Pahang, Result Number:1

2024-08-10 20:59:35,499 - JobSpy - INFO - Indeed search page: 2
2024-08-10 20:59:35,902 - JobSpy - INFO - Indeed found no jobs on page: 2
2024-08-10 20:59:35,903 - JobSpy - INFO - Indeed finished scraping

Search Term:temporary, Location:Ipoh, Result Number:3

In [29]:
results_df[ results_df['input_location'] == 'Ipoh'  ]

,id,site,job_url,job_url_direct,title,company,location,job_type,date_posted,salary_source,...,company_addresses,company_num_employees,company_revenue,company_description,logo_photo_url,banner_photo_url,ceo_name,ceo_photo_url,input_search_term,input_location
14,22e518104ecb405b,indeed,https://malaysia.indeed.com/viewjob?jk=22e5181...,http://malaysia.indeed.com/job/security-guardp...,Security Guard/Pengawal Keselamatan,Chuan Sin Sdn Bhd,"Taiping, M08, MY",fulltime,2024-08-08,direct_data,...,None,None,None,None,None,None,None,None,Guard,Ipoh
37,77256fb4efac60cb,indeed,https://malaysia.indeed.com/viewjob?jk=77256fb...,http://malaysia.indeed.com/job/volunteer-teach...,VOLUNTEER TEACHER,Kelas Tuisyen Pro Elit,"Ipoh, M08, MY","parttime, temporary",2024-08-09,None,...,None,None,None,None,None,None,None,None,Teacher,Ipoh
142,54c6d138a7fabf54,indeed,https://malaysia.indeed.com/viewjob?jk=54c6d13...,http://malaysia.indeed.com/job/procurement-exe...,PROCUREMENT EXECUTIVES,RECRUIT ADVANCE SDN BHD,"Kuala Kangsar, M08, MY",fulltime,2024-08-09,direct_data,...,None,None,None,None,None,None,None,None,software,Ipoh
143,baef47abc000370a,indeed,https://malaysia.indeed.com/viewjob?jk=baef47a...,http://malaysia.indeed.com/job/graphic-designe...,Graphic Designer,IP Printing (M) Sdn Bhd,"Ipoh, M08, MY",fulltime,2024-08-09,direct_data,...,None,None,None,None,None,None,None,None,software,Ipoh
144,fdd94d7a55aad3aa,indeed,https://malaysia.indeed.com/viewjob?jk=fdd94d7...,http://malaysia.indeed.com/job/procurement-exe...,PROCUREMENT EXECUTIVE @ EKSEKUTIF PEROLEHAN,RECRUIT ADVANCE SDN BHD,"Kuala Kangsar, M08, MY",fulltime,2024-08-08,direct_data,...,None,None,None,None,None,None,None,None,software,Ipoh
145,b2e788974f398a7e,indeed,https://malaysia.indeed.com/viewjob?jk=b2e7889...,http://malaysia.indeed.com/job/sales-consultan...,Sales Consultant (Interior Design Studio),Goldfields Concepts Sdn. Bhd.,"Ipoh, M08, MY",fulltime,2024-08-08,direct_data,...,None,None,None,None,None,None,None,None,software,Ipoh